<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 이 부분에서 myBatis에 관련된 환경설정을 한다 -->
	<!-- 기본 동작에 대한 환경 설정을 한다. -->
	<settings>
		<!-- 캐쉬 메모리 사용여부 -->
		<setting name="cacheEnabled" value="false" />
		<!-- 일반화 키 사용여부 -->
		<setting name="useGeneratedKeys" value="true" />
		<!-- 기본 질의 실행 방식 -->
		<setting name="defaultExecutorType" value="REUSE" />		
	</settings>
	
	<typeAliases>
		<typeAlias type="java.lang.Integer" 			alias="int"/>
		<typeAlias type="java.lang.String" 				alias="string"/>
		<typeAlias type="com.ourDo.dto.BoardDTO" 	alias="bDTO"/> 
	</typeAliases>	
	
	<mappers>
		  <!-- mappers의 자식요소로서 mapper등록 
					  resource="/com폴더/ourDo폴더/sql폴더/memberSQL.xml문서생성"
			-->
		<mapper resource="/com/ourDo/sql/memberSQL.xml"/>
		<mapper resource="/com/ourDo/sql/boardSQL.xml"/>
	</mappers>
	
</configuration>






