<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 보조환경설정파일 지정 부분 
			원본 <param-value>/WEB-INF/spring/root-context.xml</param-value>
			우리는 
		-->
		<param-value>/WEB-INF/doSpring/sub-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- 해당 DispatcherServlet의 환경설정을 하는 부분
			     원본  <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value> 
			   우리는  아래와 같이 변경
			   <param-value>/WEB-INF/doServlet/do-context.xml</param-value>
			   이 때 반드시 /WEB-INF 폴더 하위에 위치해야 한다.-->
			<param-value>/WEB-INF/doServlet/do-context.xml</param-value> 
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<!-- 위에서 선언한 DispatcherServlet이  어떤 요청을 받았을 때 실행할지를 지정하는 부분 -->	
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>


	<!-- 한글 깨짐 방지  -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
